div {  
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#specificColor {
    color:lawngreen;
    font-family: 'Courier New', Courier, monospace;
}
body {
    background-image: url("turnip.png");
}